/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2017, 4:00:20 PM
    Author     : jessi
*/

.kpi{
    height: 150px;
}

body{
    margin-top: 5%;
}