/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2017, 4:00:20 PM
    Author     : jessi
*/



body{
    margin-top: 5%;
}

.col-md-4{
    width: 600px;
    height: 300px;
}

div.chart {
    font-size: 18px;
}

div.label1 {
    height: 25px;
    line-height: 2 px;
    padding-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    width: 75px;
    text-align: right;
}
div.bar {
    background-color: green;
    color: orange;
    height: 5px;
    line-height: 2px;
    padding-right: 3px;
    text-align: right;
    margin-left: 14px;
    display: inline-block;
}